<div>
    <h1>Login</h1>
</div>
<form class="sign__form" [formGroup]="form" (ngSubmit)="handleLoginClick()">
  

    <!-- {{ loginForm.value | json }} -->

    <div class="form-group">
        <label for="login_email">Email</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <span  class="fa fa-at"></span>
                </span>                    
            </div>
            <input formControlName="email" id="login_email" title="Email" type="email" class="form-control rounded-right is-valid" name="email" [ngClass]="{ 'is-invalid': f.email.errors ,'is-valid': !f.email.errors }"  ngModel>
        </div>
        <ul *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="text-danger">
            <li *ngIf="f.email.errors.required">required: {{f.email.errors.required}}</li>
            <li *ngIf="f.email.errors.email">email: {{f.email.errors.email}}</li>
            <li *ngIf="f.email.errors.minlength">minlength: {{f.email.errors.minlength |json}}</li>
        </ul>
    </div>

    <!-- <span class="text-danger"
        *ngIf="(email.touched || email.submitted) && email.errors?.required">
        User Name is required
    </span> -->


    <div class="form-group">
        <label for="login_password">Password</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <span class="fa fa-lock"></span>
                </span>                    
            </div>
            <input formControlName="password" id="login_password" title="Password" type="password" class="form-control rounded-right is-valid" name="password" [ngClass]="{ 'is-invalid': f.password.errors }" ngModel>
        </div>
            <ul *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="text-danger">
                <li *ngIf="f.password.errors.required">required: {{f.password.errors.required}}</li>
                <li *ngIf="f.password.errors.minlength">minlength: {{f.password.errors.minlength |json}}</li>
            </ul>
    </div>

    <div class="alert alert-danger" *ngIf=err >{{err}}</div>

    <button class="btn btn-primary" type="submit">Login</button>
</form>

